*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #666;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.top-bar {
    display: flex;
    width: 450px;
    height: 80px;
    align-items: center;
}

.top-bar div {
    width: 150px;
    text-align: center;
}

.top-bar .restart-btn {
    padding: 5px;
    background-color: #ddd;
    border-radius: 4px;
}

.board {
    display: grid;
    grid-template-rows: repeat(10, 40px);
    grid-template-columns: repeat(10, 40px);
    background-color: #555;
}

.board div {
    width: 40px;
    height: 40px;
    background-color: #999;
    border: 1px solid #333;
}

.board div:hover {
    background-color: #777;
}

.marked {
    background-color: red !important;
}